.tabs {
    display: flex;
    margin-bottom: 1rem;
  }
  
  .tabs button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #e0e0e0;
    color: #000;
    transition: background-color 0.3s;
  }
  
  .tabs button.active {
    background-color: #6532a5;
    color: #fff;
  }
  
  .tabs button:hover {
    background-color: #bdbdbd;
  }
  